body{margin:0; padding:0;background-color:#F2F2E1;}
a{color:#E58712;text-decoration:none}
a:hover{color:#9BBB38}
#top{height:60px}
img{height:60px;float:left;}
h1{color:#9BBB38}
#menu{background-color:#9BBB38;color:#ffffff}
#maincol{background-color:#ffffff;}
h2{background-color:#9BBB38;color:#ffffff}
#footer{text-align:right;border-top:10px solod #9BBB38}